@charset "utf-8";
.container-fluid header {

}
.container-fluid .navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-light {
    background-color: #000000;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 100%);
}
.container-fluid .navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-light {
    background-image: url(../images/Upper%20Banner.JPG);
/*
    background-color: #04020F;
    background-image: -webkit-linear-gradient(270deg,rgba(4,2,15,1.00) 0%,rgba(4,2,15,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(4,2,15,1.00) 0%,rgba(4,2,15,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(4,2,15,1.00) 0%,rgba(4,2,15,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(4,2,15,1.00) 0%,rgba(4,2,15,1.00) 100%);
*/
}
#top {
    background-color: #000000;
}
h2, h4 {
    text-align: center;
}
footer  {
    background-image: url("../images/footer_test3.JPG");
	margin-right: 0rem;
}
.top-banner {
	background-color: firebrick;
	height: 2em;
}
.top-banner p {
	color: aliceblue;
	width: 100%;
	height: 100%;
 	text-align: center;
	
}
.footer {
    background-image: url("../images/footer_test3.JPG");
	margin-top: 1rem;
	height: 6em;
}
.footer-block {
	width: 30%;
}
.footer-block-edge {
	width: 2%;
}
.footer-block-mid {
	width: 33%;
}
.footer-grid {
	margin-top: 2em;
	text-align: center;
}
.footer-social-link {
	width: 30%
}
.margin-top {
    margin-top: 1rem;
}
.margin-bottom {
    margin-bottom: 1rem;
}
.row-marg {
	margin-top: 0.4rem;
}
.paragraph-head {
	margin-bottom: 0em;
}
#home {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 37.83%,rgba(4,2,15,1.00) 49.22%,rgba(72,0,74,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 37.83%,rgba(4,2,15,1.00) 49.22%,rgba(72,0,74,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 37.83%,rgba(4,2,15,1.00) 49.22%,rgba(72,0,74,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 37.83%,rgba(4,2,15,1.00) 49.22%,rgba(72,0,74,1.00) 100%);
    color: #B9B9B9;
}
#portfolio {
    background-image: -webkit-linear-gradient(270deg,rgba(237,237,237,1.00) 0%,rgba(184,184,184,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(237,237,237,1.00) 0%,rgba(184,184,184,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(237,237,237,1.00) 0%,rgba(184,184,184,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(237,237,237,1.00) 0%,rgba(184,184,184,1.00) 100%);
}
#portfolio-nav .nav-item  {



}
#portfolio-nav .nav-item .active {


}
.row .col-xl-6 .btn.btn-lg {
	border-radius: 2em;
	background-color: #4b83ce;
	border-color: #6dabf4;
	border-width: 0.2em;
	margin-top: 0.1em;
	margin-left: 3em;
}
